﻿<h3>ListadoPeliculas</h3>

<input type="checkbox" @bind="MostrarBotones"/>

<ListadoGenerico Listado="Peliculas">
   @* Se le da un nombre al cotext para poder usarlo en el render fragment (Registros) de ListadoGenerico  *@
   <Registros Context="pelicula">
      <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones" EliminarPelicula="@(EliminarPelicula)" />
   </Registros>
</ListadoGenerico>


@code {

   [Parameter] public List<Pelicula> Peliculas { get; set; }

   protected override void OnInitialized()
   {
      Console.WriteLine("OnInitialized");
   }

   protected override void OnParametersSet()
   {
      Console.WriteLine("OnParametersSet");
   }

   protected override void OnAfterRender(bool firstRender)
   {
      Console.WriteLine($"OnAfterRender, primera vez: {firstRender}");
   }

   protected override bool ShouldRender()
   {
      Console.WriteLine("ShouldRender");

      //Si se envia true el componentese puede renderizar 
      //Si se envia false el componente no se puede renderizar
      return true;
   }

   public bool MostrarBotones { get; set; } = false;

   private void EliminarPelicula(Pelicula pelicula)
   {
      Peliculas.Remove(pelicula);
      Console.WriteLine($"Se a eliminado la pelicula {pelicula.Titulo}");
   }

}
