﻿@typeparam TItem


@if (Listado == null)
{
   @if (Cargando == null)
   {

      <text> Cargando ... </text>
   }
   else
   {

      @Cargando
   }
}
else if (Listado.Count == 0)
{
   @if (NoHayRegistros == null)
   {

      <text>No se tienen peliculas disponibles</text>
   }
   else
   {
      @NoHayRegistros
   }
}
else
{

   foreach (var item in Listado)
   {
      @Registros(item)
   }

}

@code {

   [Parameter] public RenderFragment Cargando { get; set; }

   [Parameter] public RenderFragment NoHayRegistros { get; set; }

   [Parameter] public RenderFragment<TItem> Registros { get; set; }

   [Parameter] public List<TItem> Listado { get; set; }
}
