﻿<p>Titulo: @Pelicula.Titulo</p>
<p>Lansamiento: @Pelicula.Lanzamiento.ToString("dd MM yyyy")</p>

@if (MostrarBotones)
{
<div>
   @* Se usa el lamda para enviarle un parametro al metodo que se le asigno a la propiedad EventCallback *@
   <button @onclick="@(() => EliminarPelicula.InvokeAsync(Pelicula))">Borrar</button>
</div>

}

@code {

   [Parameter] public Pelicula Pelicula { get; set; }
   [Parameter] public bool MostrarBotones { get; set; } = false;

   [Parameter] public EventCallback<Pelicula> EliminarPelicula { get; set; }

}

