﻿@page "/counter"
@inherits CounterBase

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Singleton count: @singleton.valor</p>
<p>Transient count: @transient.valor</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ListadoPeliculas />

