﻿@page "/"
@inject IRepo repo

<div>
   <h2>Peliculas</h2>
   <ListadoPeliculas Peliculas="repo.ObtenerPeliculas()"/>
</div>

<div>
   <h2>Crear Pelicualas</h2>
   <EjemploTexBox placeholder="Placeholder Index" @attributes="EjemploTextoParametros"/>
</div>

@code{

   string nombre = "Yo";

   private IDictionary<string, object> EjemploTextoParametros = new Dictionary<string, object>
   {
      {"placeholder", "Nuevo placeholder" },
      {"disabled", true }
   };

   private void ManejarClick()
   {
      Console.WriteLine("Clickeado!");
   }

   public Pelicula SpiderMan { get { return OptenerPelicula(); } }


   private Pelicula OptenerPelicula()
   {
      return new Pelicula { Lanzamiento = DateTime.Now, Titulo = "Spider-Man" };
   }


}
